.all {
    padding: 30px;
    background-color: rgb(243, 241, 241);
    margin: 50px 100px;
}

body {
    background-color: rgb(224, 222, 222);
    font-family: monospace, serif, sans-serif;
    text-align: center;
}



h1 {

    font-size: 40px;
    font-weight: 800;

}

.description {
    box-sizing: ;
    text-align: justify;
    padding: 80px;
    width: 48%;
    border-style: ridge;
    display: inline-flex;
    padding: 80px;

}

.content {
    font-style: oblique;
    color: brown;
    box-sizing: border-box;
    width: 48%;
    vertical-align: top;
    justify-content: space-between;
    margin-left: auto;
    border-style: ridge;
    text-align: center;
    display: inline-block;
    padding: 80px;
    border-color: antiquewhite;
}

.recipes {
    padding: 0px;
    list-style-position: inside;
    margin: 0px;
    list-style: square;

}

.recipe {
    text-align: left;
    margin: 5px;

}


#img {
    width: 250px;
    height: auto;
    margin: 15px;
    padding: 20px;
}