.all {
    position: relative;
    /* left: 550px; */
    margin: auto;
    width: 45em;
    background-color: gainsboro;
    border-radius: 15px;
    border: 2px solid #c9d1d9;
    padding: 15px;
}

body {
    background-color: lightgray;
    font-family: monospace, serif, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

h2 {
    font-size: large;
}

.content {
    font-style: oblique;
    color: brown;
    text-align: left;
}


#img {
    width: 300px;
    height: auto;
}